<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>PPT Viewer</title>
    <style>
        body { text-align:center; font-family:Arial; }
        img { max-width:800px; border:1px solid #777; }
    </style>
</head>
<body>

<h2>Просмотр PowerPoint</h2>

<img id="slide" th:src="@{'/slides/' + ${current}}" />

<br><br>
<button id="prevBtn">⟵ Назад</button>
<button id="nextBtn">Вперёд ⟶</button>

<script>
    let slide = [[${current}]];
    const max = [[${slides}]];
    const pauseSlide = [[${numberSlide}]]

    const imgEl = document.getElementById('slide');

    function updateImage() {
        imgEl.src = "/slides/" + slide;
    }

    function pushUrl() {
        history.pushState({slide: slide}, "", "/view/" + slide);
    }

    document.getElementById('nextBtn').addEventListener('click', () => {
        if (slide < max) slide++;
        if (slide === pauseSlide) {
            window.location.href = "/view/" + slide;
            return;
        }
        updateImage();
        pushUrl();
    });

    document.getElementById('prevBtn').addEventListener('click', () => {
        if (slide > 1) slide--;
        updateImage();
        pushUrl();
    });

    window.addEventListener('popstate', (event) => {
        const parts = location.pathname.split('/');
        const maybe = parseInt(parts[parts.length - 1]);
        if (!isNaN(maybe) && maybe >= 1 && maybe <= max) {
            slide = maybe;
            updateImage();
        } else {
            slide = 1;
            updateImage();
            history.replaceState({slide:1}, "", "/view/1");
        }
    });

    history.replaceState({slide: slide}, "", "/view/" + slide);
</script>

</body>
</html>
